@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

body {
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
}

.base-text-color {
    @apply text-gray-900 dark:text-gray-300;
}

.lg-text-color {
    @apply text-black dark:text-white font-bold;
}

.base-bg-color {
    @apply bg-white dark:bg-gray-900;
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#header {
    max-width: 640px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    transition:
        transform 400ms ease-in-out 0s,
        background-color 400ms ease-in-out 0s;

    .header-wr {
        position: relative;
        height: 75px;
        @apply bg-white dark:bg-gray-900;

        .left-menu {
            @apply left-7 max-sm:left-4;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            ul {
                li {
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 0;
                    cursor: pointer;
                    svg {
                        @apply w-10 h-10 max-sm:w-6 max-sm:h-6  text-black dark:text-white;
                    }
                }
            }
        }

        .top-logo {
            height: 75px;
            line-height: 75px;
            margin: 0 auto;
            text-align: center;
        }

        .right-menu {
            @apply right-7 max-sm:right-4;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            ul {
                li {
                    display: inline-block;
                    font-size: 0;
                    cursor: pointer;

                    a {
                        svg {
                            @apply w-10 h-10 max-sm:w-6 max-sm:h-6  text-black dark:text-white;
                        }
                        span {
                            @apply absolute text-center font-[600];
                            @apply bg-[#ff4000] dark:bg-gray-400;
                            @apply text-xs max-sm:text-[9px]  text-white dark:text-black;
                            @apply w-5 h-5 leading-5 max-sm:w-4 max-sm:h-4 max-sm:leading-4;
                            @apply right-0 bottom-[6px] max-sm:right-[-2px] max-sm:bottom-[4px];
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .main-tab {
        @apply bg-white dark:bg-gray-900;
        @apply border-b-2 border-solid border-[#bcbcbc] dark:border-gray-700;
        > ul {
            @apply px-7 max-sm:px-4;
            > li {
                display: inline-block;
                margin-right: 25px;

                > a {
                    @apply text-2xl max-sm:text-base text-[#858585] dark:text-gray-300;
                    font-weight: 400;
                    height: 60px;
                    line-height: 60px;
                    display: block;
                    box-sizing: border-box;
                    > span.point {
                        color: #ff4000 !important;
                        font-weight: 600;
                    }
                }
            }

            > li.on > a {
                font-weight: 600;
                @apply border-b-2 border-solid border-[#000] dark:border-white;
                @apply text-[#000] dark:text-white;
            }
        }
    }
}

.navigation {
    max-width: 640px;
    margin: 0 auto;
    position: sticky;
    bottom: -2px;
    z-index: 500;
    width: 100%;

    @apply bg-white dark:bg-gray-900;
    > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        @apply border-t border-solid border-t-[#f3f3f3] dark:border-t-gray-700;
        > div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            > a {
                display: block;
                font-size: 0;
                padding: 10px 0;
                width: 100%;
                p {
                    @apply text-xs text-black dark:text-white;
                    @apply mt-0;
                }
                img {
                    display: inline;
                }
                svg {
                    display: inline;
                }
            }
        }
    }
}

#container {
    margin: 0 !important;
    padding-bottom: 20px;
}

.titleArea {
    padding: 0 15px;
    h2 {
        @apply text-xl;
        line-height: 35px;
        color: #000;
        text-align: left;
        padding: 15px 0 0;
        box-sizing: border-box;
        font-weight: 700;
        margin: 0 0 15px;
    }
}

.mypage-wr {
    width: 100%;
    line-height: 1;
    margin-bottom: 30px;
}

.sec_01 {
    padding: 0 15px;
    line-height: 1.4;
    margin-bottom: 50px;
    > div {
        @apply text-xl;
        font-weight: 700;
        margin-bottom: 20px;
    }
}
