@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

// initialize start
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
html,
body,
input,
select,
textarea,
button {
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
    word-break: keep-all;
}

html {
    @apply text-base/none;
    width: 100%;
    height: 100%;
}

html,
body {
    @apply bg-[#f5f5f5] dark:bg-gray-800;
}

body,
code {
    @apply text-base/none;
    min-width: 320px;
    -webkit-text-size-adjust: none;
}
// initialize end

// layout start
#header {
    max-width: 640px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    transition:
        transform 400ms ease-in-out 0s,
        background-color 400ms ease-in-out 0s;

    .header-wr {
        @apply bg-white dark:bg-gray-900;
        @apply h-[75px] max-sm:h-[60px];
        position: relative;

        .left-menu {
            @apply left-7 max-sm:left-4;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            ul {
                li {
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 0;
                    cursor: pointer;
                    svg {
                        @apply w-10 h-10 max-sm:w-6 max-sm:h-6  text-black dark:text-white;
                    }
                }
            }
        }

        .top-logo {
            height: 75px;
            line-height: 75px;
            margin: 0 auto;
            text-align: center;
        }

        .right-menu {
            @apply right-7 max-sm:right-4;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            ul {
                li {
                    display: inline-block;
                    font-size: 0;
                    cursor: pointer;

                    a {
                        svg {
                            @apply w-10 h-10 max-sm:w-6 max-sm:h-6  text-black dark:text-white;
                        }
                        span {
                            @apply absolute text-center font-[600];
                            @apply bg-[#ff4000] dark:bg-gray-400;
                            @apply text-xs/none max-sm:text-[9px]  text-white dark:text-black;
                            @apply w-5 h-5 leading-5 max-sm:w-4 max-sm:h-4 max-sm:leading-4;
                            @apply right-0 bottom-[6px] max-sm:right-[-2px] max-sm:bottom-[4px];
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .main-tab {
        @apply bg-white dark:bg-gray-900;
        @apply border-b-2 border-solid border-[#bcbcbc] dark:border-gray-700;
        @apply px-7 max-sm:px-4;
        > ul {
            > li {
                display: inline-block;
                margin-right: 25px;

                > a {
                    @apply text-2xl/none max-sm:text-base/none text-[#858585] dark:text-gray-300;
                    @apply h-[60px] leading-[60px] max-sm:h-[36px] max-sm:leading-[36px] max-sm:text-[16px];
                    font-weight: 400;
                    display: block;
                    box-sizing: border-box;
                    > span.point {
                        color: #ff4000 !important;
                        font-weight: 600;
                    }
                }
            }

            > li.on > a {
                font-weight: 600;
                @apply border-b-2 border-solid border-[#000] dark:border-white;
                @apply text-[#000] dark:text-white;
            }
        }
    }
}

#footer {
    @apply text-xs/none;
    @apply border-t border-solid border-[#dedede] dark:border-gray-700;
    padding: 50px 5% 30px;
    box-sizing: border-box;
    line-height: 20px;
    position: relative;
    z-index: 1;
    a {
        @apply text-[#999] dark:text-gray-300;
    }
    img {
        height: 20px;
        margin-bottom: 20px;
    }
    .area {
        overflow: hidden;
        margin-bottom: 35px;
        > div {
            float: left;
            p.tit {
                @apply text-base/none text-black dark:text-white;
                font-weight: 500;
                margin-bottom: 10px;
            }
            span {
                @apply text-xs/none text-[#999] dark:text-gray-300;
                line-height: 21px;
                display: block;
            }
        }
        .footer_left {
            width: 60%;
            p.tit {
                @apply text-base/none;
            }
        }
        .footer_right {
            width: 40%;
        }
    }
    .footer_link {
        margin-bottom: 10px;
        a {
            margin-right: 15px;
        }
    }
    .info {
        @apply text-[#999] dark:text-gray-300;
        > span {
            i.on {
                transform: rotate(180deg);
            }
        }
    }
    .copyright {
        margin-top: 10px;
    }
    .sns_list {
        text-align: center;
        margin: 30px 0;
        a {
            @apply text-2xl/none text-black dark:text-white;
            margin: 0 6px;
        }
    }
}

.pc_mo-wr {
    display: flex;
    justify-content: center;
}

#wrap {
    position: relative;
    z-index: 2;
}

#container {
    margin: 0 !important;
    padding-bottom: 20px;
    min-height: calc(100vh - 500px);
}

#mobile {
    @apply bg-white dark:bg-gray-900;
    max-width: 640px;
    box-shadow: 0 0 16px rgb(50 50 50 / 12%);
    position: relative;
    width: 100%;
}

.navigation {
    max-width: 640px;
    margin: 0 auto;
    position: sticky;
    bottom: -2px;
    z-index: 500;
    width: 100%;

    @apply bg-white dark:bg-gray-900;
    > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        @apply border-t border-solid border-t-[#f3f3f3] dark:border-t-gray-700;
        > div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            > a {
                display: block;
                font-size: 0;
                padding: 10px 0;
                width: 100%;
                p {
                    @apply text-xs/none text-black dark:text-white;
                    @apply mt-0;
                }
                img {
                    display: inline;
                }
                svg {
                    display: inline;
                }
            }
        }
    }
}
// layout end

// global class start
.ec-base-product {
    padding: 0;
}

.prdList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 10px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    .thumbnail {
        position: relative;
        margin: 0 0 10px !important;
        .prdImg {
            position: relative;
            .over-bg {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0 !important;
                transition: all 0.5s;
                width: 100%;
                img {
                    width: 100%;
                }
            }
            a {
                display: block;
                img {
                    display: block;
                    width: 100%;
                    vertical-align: top;
                    opacity: 1 !important;
                }
            }
        }
        .likeButton {
            font-size: 0;
            position: absolute;
            right: 15px;
            bottom: 5px;
            button {
                background-color: transparent;
                border: 0;
                outline: none;
                img {
                    width: 40px;
                }
            }
        }
    }
    .description {
        margin: 0 4px !important;
        min-height: 10px;
        line-height: 1em;
        text-align: left;
        .flex-wr {
            > a {
                @apply text-base/none text-black dark:text-white;
                font-weight: 600;
                margin: 0 0 8px;
                display: inline-block;
            }
            .name {
                @apply text-[#222] dark:text-gray-300;
                line-height: 1;
                word-wrap: break-word;
                margin: 0;
                a {
                    font-weight: 400;
                    line-height: 18px;
                    span {
                        @apply text-base/none;
                    }
                }
            }
            .price-wr {
                margin-top: 8px;
                position: relative;
                p {
                    @apply text-base/none;
                    display: inline-block;
                    margin: 0 5px 5px 0;
                }
                p.rate {
                    font-weight: 600;
                    color: #ff4000;
                }
                p.price {
                    @apply text-black dark:text-white;
                    font-weight: 600;
                }
                p.origin_price {
                    color: #ccc;
                    text-decoration: line-through;
                    margin-right: 0;
                }
            }
        }
    }
    .count {
        margin-top: 10px;
        display: flex;
        .like_wrap {
            margin-right: 5px;
            .likeButton {
                button {
                    border: 0;
                    background: none;
                    img {
                        opacity: 0;
                        display: none;
                    }
                    span {
                        span {
                            @apply text-xs/none text-black dark:text-white;
                            vertical-align: middle;
                        }
                        span::before {
                            @apply text-base/none;
                            content: '\ea11';
                            font-family: xeicon, serif !important;
                            vertical-align: middle;
                            display: inline-block;
                            margin-top: -2px;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
        .review_wrap {
            a {
                > span {
                    @apply text-xs/none text-black dark:text-white;
                    i {
                        @apply text-base/none;
                        margin: -3px 2px 0 0;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.btnNormal {
    @apply text-xs/none text-[#222] dark:text-gray-200;
    @apply border border-solid border-[#dedede] bg-white dark:border-white dark:bg-black;
    min-width: 60px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
// global class end

// member start
.titleArea {
    padding: 0 15px;
    h2 {
        @apply text-xl/none text-black dark:text-white;
        text-align: left;
        padding: 15px 0 0;
        box-sizing: border-box;
        font-weight: 700;
        margin-bottom: 45px;
    }
}

.mypage-wr {
    width: 100%;
    line-height: 1;
    margin-bottom: 30px;
}

.sec_01 {
    padding: 0 15px;
    line-height: 1.4;
    margin-bottom: 50px;
    > div {
        @apply text-2xl text-black dark:text-white;
        font-weight: 700;
        margin-bottom: 20px;
    }
    > ul {
        @apply bg-[#fafafa] dark:bg-gray-800;
        display: flex;
        text-align: center;
        padding: 15px 0;
        > li {
            position: relative;
            flex: 1;
            > span {
                @apply text-base text-[#777] dark:text-gray-300;
                display: block;
                margin-bottom: 10px;
            }
            > p {
                @apply text-xl dark:text-white;
                font-weight: 700;
            }
        }
        > li ~ li::before {
            @apply bg-[#d9d9d9] dark:bg-gray-700;
            content: '';
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

.sec_02 {
    padding: 0 15px;
    margin-bottom: 30px;
    .title {
        @apply border-b-2 border-solid border-black dark:border-white;
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        h3 {
            @apply text-xl/none dark:text-white;
            font-weight: 700;
            line-height: 1;
            margin-right: auto;
            span {
                @apply text-xs/none text-[#888] dark:text-gray-300;
                font-weight: 300;
            }
        }
        a {
            @apply text-xs/none;
            @apply border-black dark:border-white;
            border-radius: 4px;
            padding: 4px 10px;
        }
    }
    > ul {
        @apply border-b border-solid border-[#d9d9d9] dark:border-gray-700;
        display: flex;
        padding: 40px 5%;
        border-bottom: 1px solid #d9d9d9;
        li {
            position: relative;
            flex: 1;
            text-align: center;
            padding: 0 3%;
            p {
                @apply text-base/none text-[#666] dark:text-gray-300;
                margin-bottom: 15px;
            }
            > a {
                @apply text-3xl/none text-black dark:text-white;
                font-weight: 700;
            }
        }
        li ~ li::after {
            @apply text-xs/none;
            content: '\e93e';
            font-family: xeicon, serif !important;
            color: #c9c9c9;
            position: absolute;
            top: 3px;
            left: -5px;
        }
    }
}

.sec_03 {
    padding: 0 15px;
    ul {
        li {
            padding: 15px 0;
            a,
            div {
                @apply text-base/none text-black dark:text-gray-300;
                display: block;
                position: relative;
                font-weight: 500;
                cursor: pointer;
            }
            a::after {
                content: '\e93e';
                font-family: xeicon, serif !important;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                color: #c9c9c9;
            }
            div::after {
                content: '\e93e';
                font-family: xeicon, serif !important;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                color: #c9c9c9;
                cursor: pointer;
            }
        }
        li:nth-child(2) {
            @apply border-b border-solid border-[#d9d9d9] dark:border-gray-700;
            margin-bottom: 10px;
            padding-bottom: 25px;
        }
        li:nth-child(4) {
            @apply border-b border-solid border-[#d9d9d9] dark:border-gray-700;
            margin-bottom: 10px;
            padding-bottom: 25px;
        }
        li:nth-child(7) {
            @apply border-b border-solid border-[#d9d9d9] dark:border-gray-700;
            margin-bottom: 10px;
            padding-bottom: 25px;
        }
    }
}
// member end

// home start
.main-wr {
    // main banner
    .more {
        background: #000;
        text-align: right;
        a {
            @apply text-xl/none max-sm:text-base/none;
            color: #fff;
            padding: 10px;
            box-sizing: border-box;
            display: block;
        }
    }
    // recommend
    .recommend2-wr {
        .title {
            margin-bottom: 10px;
        }
        .item {
            margin-bottom: 30px;
        }
    }

    // hotItem
    .main-product-02 {
        margin-top: 60px;
        box-sizing: border-box;
        .ec-base-product {
            @apply bg-white dark:bg-gray-900;
            h1 {
                @apply text-2xl/none text-black dark:text-white font-bold m-1.5;
                padding: 0 25px;
                box-sizing: border-box;
            }
            ul.prdList {
                li {
                    vertical-align: top;
                }
                li[id*='anchorBoxId_'] {
                }
            }
        }
    }
}
// home end

// discount start
.recommend-wr {
    .main-product-03 {
        h1 {
            @apply text-xl/none text-black dark:text-white font-bold my-3.5;
            line-height: 1;
            padding: 0 10px;
            box-sizing: border-box;
        }
    }
    .kkst-card-list {
        padding: 0 15px;
        box-sizing: border-box;
        .prdList {
            display: block;
            padding: 0;
            > li {
                margin-bottom: 85px;
                .sale-grid {
                    display: grid;
                    grid-template-columns: 120px auto;
                    gap: 10px;
                    .thumbnail {
                        margin-bottom: 0 !important;
                    }
                    .description {
                        position: relative;
                        padding-top: 10px;
                        box-sizing: border-box;
                        margin: 0 !important;
                        .flex-wr {
                            .name a span {
                                font-size: 16px !important;
                                font-weight: 500 !important;
                            }
                            .price-wr {
                                position: absolute;
                                bottom: 10px;
                                left: 0;
                                width: 100%;
                                p.rate {
                                    position: absolute;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sale-img {
        margin-bottom: 10px;
        img {
            border-radius: 20px;
        }
    }
}
// discount end

// recommend start
.recommend2-wr {
    padding: 20px 0;
    .title {
        margin-bottom: 50px;
        padding: 0 15px;
        p {
            @apply text-lg/none;
            color: #ff4000;
            font-weight: 500;
            margin-bottom: 10px;
            line-height: 1;
        }
        h2 {
            @apply text-2xl/none text-black dark:text-white;
            font-weight: 700;
            padding-right: 20px;
            box-sizing: border-box;
            line-height: 1;
        }
    }
    .item {
        margin-bottom: 80px;
        padding: 0 15px;
        h3 {
            @apply text-xl/none font-bold text-black dark:text-white;
            position: relative;
            line-height: 1;
            margin-bottom: 14px;
            a {
                display: block;
                line-height: 1.3;
                min-height: 52px;
            }
        }
        div[id*='anchorBoxId_'] {
            .description {
                .flex-wr {
                    a {
                        @apply text-sm/none;
                    }
                }
            }
        }
    }
    .link {
        text-align: center;
        a {
            @apply text-base/none text-black dark:text-white;
            @apply border border-solid border-black dark:border-white;
            display: inline-block;
            padding: 10px;
            width: 100px;
            font-weight: 500;
        }
    }
}
// recommend end

// coming soon start
.comingsoon-wr {
    padding: 10px 0 30px;
    > h1 {
        @apply text-xl/none text-black dark:text-white font-bold my-3.5;
        line-height: 1;
        padding: 0 25px;
    }
}
// coming soon end

// brand start
.brand-wr {
    .title-area {
        margin: 30px 0 20px;
        h2 {
            @apply text-3xl/none max-sm:text-2xl/none text-black dark:text-white;
            font-weight: 600;
            padding: 0 15px;
            box-sizing: border-box;
            line-height: 1;
        }
    }
    .brand-list-area {
        .brand-item {
            margin-bottom: 50px;
            .brand-title {
                padding: 0 15px;
                box-sizing: border-box;
                margin-bottom: 14px;
                a {
                    display: flex;
                    align-items: center;
                    .left-area {
                        @apply w-[92px] max-sm:w-[66px];
                        .brand-thum {
                            img {
                                max-width: 100%;
                            }
                        }
                    }
                    .right-menu {
                        width: calc(100% - 92px);
                        padding-left: 19px;
                        position: relative;
                        box-sizing: border-box;
                        .brand-name {
                            h3 {
                                @apply text-3xl/none max-sm:text-2xl/none text-black dark:text-white;
                                font-weight: 600;
                                line-height: 1;
                                margin-bottom: 5px;
                            }
                            p {
                                @apply text-xl/none max-sm:text-lg/none text-[#797979] dark:text-gray-300;
                                font-weight: 500;
                                line-height: 1;
                            }
                        }
                        span::before {
                            @apply text-3xl/none text-black dark:text-gray-300;
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            width: 14px;
                            content: '\e93e';
                            font-family: xeicon, serif !important;
                            vertical-align: middle;
                        }
                    }
                }
            }
            .brand-product-wr {
                padding: 0 15px;
                .swiper-slide:nth-child(1) {
                    border-radius: 8px 0 0 8px;
                    overflow: hidden;
                }
            }
        }
    }
}
// brand end

// ranking start
// ranking end

// like start
.like-wr {
    .tabs {
        display: flex;
        margin-bottom: 35px;
        li {
            @apply text-base/none text-[#ccc] dark:text-gray-700;
            @apply border-b border-solid border-[#ccc] dark:border-gray-700;
            display: inline-block;
            cursor: pointer;
            width: 50%;
            text-align: center;
            padding: 15px 0;
            box-sizing: border-box;
        }
        li.current {
            @apply text-black dark:text-white;
            @apply border-b border-solid border-black dark:border-white;
            font-weight: bold;
        }
    }
    .empty {
        @apply text-lg/none text-black dark:text-white;
        text-align: center;
        padding: 30px 0 30px;
    }
}
// like end
